
/*
    CarLayout styles
*/

.car-layout {
  width: 100%;
  height: 100%;

  .panel-layout {
    height: 100%;
    width: 100%;

    .workspace-container {
      display: inline-block;
      width: 40%;
      height: 85%;
      .table {
        thead th {
          font-size: x-large;
          text-align: center;
        }
        td {
          font-size: x-large;
          vertical-align: middle;
          text-align: center;
        }
      }
    }

    .debugger-container {
      position: absolute;
      display: inline-block;
      width: 30%;
      margin-left: 20%;
      min-height: 20%;
    }
  }
}

/*
    app styles
*/

.navbar-default {
  background-color: #79A9FF;
}

.banner {
  margin: 0 auto 50px auto;
  .top-header {
    font-size: 36pt;
    text-align: center;
    margin: 0 auto 0 auto;
    &:nth-child(2) {
      width: 100px;
    }
  }

}