/*
    CarLayout styles
*/
.car-layout {
  width: 100%;
  height: 100%;

  .list-container {
    display: inline-block;
    width: 20%;
    height: 85%;
  }

  .display-container {
    display: inline-block;
    width: 79%;
    height: 85%;
    border: 1px black solid;
  }

  .controls-container {
      width: 100%;
      height: 15%;
  }
}