<td>
    <a href="#car/{{id}}/view">{{manufacturer}}</a>
</td>
<td>{{model}}</td>
<td>{{year}}</td>
<td>
    <img src="img/cars/{{img}}" height="120" width="200">
</td>
<td>
    <a href="#" class="delete btn btn-danger btn-small">Remove</a>
</td>
