<div class="banner">
    <p class="top-header">
        An example Backbone Marionette application
    </p>
    <div class="top-header">
        <img src="img/belfastjs.jpeg" height="100" width="100">
    </div>
</div>
<hr>
<ul class="panel-layout">
    <li class="workspace-container"> List </li>
    <li class="debugger-container"> Display </li>
</ul>
